# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Build / dist
dist/
build/

# Docker
*.log

# Datasets & models
data/
ml-service/app/models/pcb_resnet18.pt
ml-service/app/models/*.json

# VSCode / system files
.vscode/
.DS_Store
